$borderRadius: 8px;

@for $i from 1 to 4 {
    .buttons {
        p:nth-child(#{$i}){
            display: inline-block;
            background-color: nth($buttonColors, $i);
            border-radius: $borderRadius;
            margin-bottom: nth($margin, 3);
        }
        p a:nth-child(#{$i}){
            color: white;
            text-decoration: none;
        }
    }   
}