$lineHeight: 1.3;
$fontText: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$fontSize: 1.2rem;

body {
    line-height: $lineHeight;
    font-family: $fontText;
    font-size: $fontSize;
}

h1 {
    line-height: $lineHeight * 0.75;
}