@mixin bigTitle {
    color: black;
    font-size: 3em;
    font-weight: 700;
}

@mixin floating ($radius: 10px, $shadow: 2px 2px 10px black, $border: 2px solid white) {
    border-radius: $radius;
    box-shadow: $shadow;
    border: $border;
}

@mixin grid {
    display: flex;
    flex-wrap: wrap;
}
